// 網格系統 
:root {
    --column: 12; /* 拆分成12格網格系統 */
    --gutter: 24px; /* gutter配置24px */
}

// 格線系統設定
// 網格欄寬計算公式：（容器寬度 - 所有gutter）/總欄數 ＊佔用欄數 + 欄內gutter
// gutter總寬 = 24px * 11 (12欄之間共 11個間距）

.col-2 {
    --span: 2;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}

.col-3 {
    --span: 3;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}

.col-4 {
    --span: 4;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}

.col-5 {
    --span: 5;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}

.col-6 {
    --span: 6;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}

.col-7 {
    --span: 7;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}

.col-8 {
    --span: 8;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}


.col-10 {
    --span: 10;
    --gap-count: calc(var(--span) - 1);
    width: calc(
        (100% - var(--gutter) * (var(--column) - 1)) / var(--column) * var(--span) + var(--gutter) * var(--gap-count)
    );
}