// 文字全域
body {
    letter-spacing: 0.05em;
    font-family: $font-family-primary;
    color: $neutral900;
    margin: 0 auto;
}

/* 避免畫面縮小時貼其邊界，左右保留12px留白，並將最大寬度設為1296+24= 1320*/
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;
    width: 100%;
}


//卡片hover時的遮罩
.main-product-section-list-card,
.recommend-card,
.hover-selected,
.main-items-card {
    border-radius: 8px;
    position: relative;
    overflow: hidden; //超出卡片範圍的內容全部裁切掉
    &::after {
        content: ""; //所有偽元素都一定要有 content，所以即使不需要文字，也要寫
        position: absolute;
        inset: 0; //四個方向都貼齊父元素
        background: rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: opacity .3s ease; //opacity 改變時，不要瞬間跳，而是花 0.3 秒完成
        pointer-events: none;
    }
    &:hover::after {
        opacity: 1;
    }
}


//header 區域
.header-area {
    padding: 16px 0;

    &-member {
        a {
            padding: 12px;

            i {
                font-size: 24px;
            }
        }

        a:hover {
            color: $primary400;
        }   
    }
}   

.header-nav-link {
    a {
        padding: 12px 0;
    }
    a:hover {
        color: $primary400;
    }  
}

.header-mb-nav-link {
    li {
        width: 50%;
        text-align: center;
    }

    a {
        padding: 12px 0;
    }
}



//coupon區域
.coupon {
    background-color: $primary200;
    
    &-content {
        padding: 24px 0;
        margin-top: 48px;

        @media (max-width: 576px) {
            margin-top: 24px;
        }

        a {
            color: $neutral0;
            background-color: $neutral900;
            padding: 12px 24px;

            @media (max-width: 576px) {
                padding: 8px 16px;
            }
        }
    }
}

//footer區域
footer {
    background-color: $neutral100;
    padding: 64px 0;

    @media (max-width: 576px) {
        padding: 32px 0;
    }
}

.footer {
    &-nav {
        &-link {
            a {
                padding: 12px 0;
            }

            a:hover {
                color: $primary400;
            }
        }
    }
    &-copyright {
        color: $neutral600;
        padding-top: 32px;
        text-align: center;
        border-top: 1px solid $neutral300;
    }
}
