@import 'reset';

@import 'variable';
@import 'layout';
@import 'base';
@import 'main';

/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會
*,*:before,*:after{
	outline: 1px solid red;
}
*/


//header 區域
.header-area {
    padding-top: 16px;
    padding-bottom: 16px;

    &-member {
        a {
            padding: 12px;

            i {
                font-size: 24px;
            }
        }
    }
}

.header-nav-link {
    a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.headings-h5 {
    color: $primary400;
}


//品牌故事區域
.brand {
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;
}

.brand-title {
    color: $neutral0;
    padding: 151px 0;
    text-align: center;
}



//slogan區域
.slogan {
    text-align: center;
    padding: 32px;
    background-color: $primary100;
}

//多區域共用
.bottom-line {
    border-bottom: 1px solid $neutral300;
}

.margin-right8 {
    margin-right: 8px;
}

//品牌歷程區域
.history-event {
    ol {
        list-style-type: disc;

        //讓符號在容器裡面
        list-style-position: inside;
    }
}

//品牌理念區域
.concept-list-border {
    border-left: 3px solid $neutral300;
    text-indent: 12px;
}

//品牌小故事區域
.story-content {
    color: $primary400;

    &-link {
        border-bottom: 1px solid $primary400;
        margin-left: 4px;
    }

    ul {
        li {
            a {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
}

//coupon區域
section {
    background-color: $primary200;
}

.coupon {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 48px;

    button {
        color: $neutral0;
        background-color: $neutral900;
        padding: 12px 24px;
    }
}


//footer區域
footer {
    background-color: $neutral100;
    padding: 64px 0;
}

.footer {
    &-nav {
        &-link {
            a {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
    &-copyright {
        color: $neutral600;
        padding-top: 32px;
        text-align: center;
    }
}

