@import 'variable';


/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會

*,*:before,*:after{
	outline: 1px solid red;
}
*/


.bg-color-primary200 {
    background-color: $primary200;
}

.bg-color-primary200:hover {
    background-color: $primary300;
}

.bg-color-primary200:active {
    background-color: $primary400;
}


.bg-color-primary100 {
    background-color: $primary100;
}

.bg-color-primary100:hover {
    background-color: $primary300;
}

.bg-color-primary100:active {
    background-color: $primary400;
}


//hero區域
.hero {
    background-image: url(../img/index/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    background-position: center; 
    position: relative;
    min-height: 800px;

    @media (max-width: 576px) {
        background-image: url(../img/index/banner-sm.png);
        min-height: 480px;
    }

}

.hero-content {
    color: $neutral0;
    position: absolute;
    left: 112px;
    top: 50%;
    transform: translate(-25%);
}

.hero-content-mb {
    color: $neutral0;
    padding: 155px 12px;
}


.button-buy {
    color: $neutral900;
    background-color: $primary300;
    padding: 12px 24px;
}

.button-buy:hover {
    background-color: $primary400;
    color: $neutral0;
}

.button-buy:active {
    background-color: $primary500;
    color: $neutral0;
}

//main區域 
main {
    padding: 64px 0;
}

.main-title {
    h2 {
        text-align: center;
    }
}



.main-content-card {
    max-width: 636px;
}
.main-content {
    ul {
        row-gap: 48px; // 確保每三張卡片（換行後）下面間距是 48px
        column-gap: 24px; // 左右卡片的間距
    }
    li {
        width: calc((100% - 24px) / 2);
    }

        @media (max-width: 576px) {
        ul {
            row-gap: 24px; // 確保換行後的間距
            column-gap: 12px; // 左右卡片的間距
        }
        li {
            width: calc((100% - 12px) / 2);
        }
    }   
}

            




.hot {
    padding: 64px 0;

    @media (max-width: 576px) {
        padding: 40px 0;
    }
}


@media (max-width: 576px) {
    .hot-content-overall {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;   /* 讓手機滑動時有滑順的滑鼠/手指跟隨感 */
        scrollbar-width: none; /* 隱藏原生的滾動條*/
    }
    .hot-content-list {
        min-width: 351px;
    }
}




.hot-content-list {
    position: relative;
}





.hot-content-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 12px;
    color: $primary400;
    background-color: $primary100;
}




.hot-content-card {
    max-width: 306px;
}

//聯名區域
.collaboration {
    background-image: url(../img/index/banner-co-branded.png);
    background-size: cover;
    background-position: center;
    margin: 48px 0;

    @media (max-width: 576px) {
        background-image: url(../img/index/banner-co-branded-sm.png);
        background-size: cover;
        background-position: center;
        margin: 24px 0;
    }
}



.collaboration-content {
    padding-top: 100px;
    padding-bottom: 8px;
    color: $neutral0;
    text-align: center;
    position: relative;
    overflow: hidden;

    @media (max-width: 576px) {
        padding: 64px 0;
    }
    
}


.decoration-2 {
    position: absolute;
    top: 68px;
    left: 20%;

    @media (max-width: 576px) {
        top: 32px;
        left: -10%;
    }
}

.decoration-1 {
    position: absolute;
    bottom: 132px;
    right: 20%;

    @media (max-width: 576px) {
        bottom: 104px;
        right: -10%;
    }
}



.collaboration-content-campaign-word-title-main-kevin {
    h1 {
        color: $primary300;
    }
}

.collaboration-content-campaign {
    margin-bottom: 84px;
}

.color-n500 {
    color: $neutral500;
}

.collaboration-content-rotation {
    color: $neutral400;
}

.bi-circle-fill {
    font-size: 8px;
}

.rectangle {
    width: 24px;
    height: 8px;
    background-color: $neutral600;
}

//series區域

.series-content {
    margin: 64px 0;
}

.series-card {
    li {
        min-width: 306px;
        @media (max-width: 576px) {
           min-width: 0;
           min-width: calc((100% - 12px) / 2);
        }
    }
}

.series-card-content {
    padding: 118px 0;
    
    @media (max-width: 576px) {
        padding-top: 62.5px;
        padding-bottom: 61px;
    }
}

.series-card-item1 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/product-list/product-6.png);
    background-size: cover;
    background-position: center;
    color: $neutral0;
    aspect-ratio: 1 / 1;
}

.series-card-item2 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/index/product-11.png);
    background-size: cover;
    background-position: center;
    color: $neutral0;
    aspect-ratio: 1 / 1;
}
.series-card-item3 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/product-list/product-9.png);
    background-size: cover;
    background-position: center;
    color: $neutral0;
    aspect-ratio: 1 / 1;
}
.series-card-item4 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/index/product-10.png);
    background-size: cover;
    background-position: center;
    color: $neutral0;
    aspect-ratio: 1 / 1;
}





//靈感區域
.inspiration-content {
    margin: 64px 0;

    @media (max-width: 576px) {
        margin: 40px 0;
    }
}

.inspiration-content-photo-area1,
.inspiration-content-photo-area2,
.inspiration-content-photo-area3 {
    width: calc((100% - 16px) / 3);
}

.inspiration-content-photo-area1-top,
.inspiration-content-photo-area3-bottom,
.inspiration-content-photo-area2 {
    img {
        width: calc((100% - 8px) / 2);
    }
}

@media (max-width: 576px) {
    .inspiration-content-photo-mb {
        overflow: hidden;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;   /* 讓手機滑動時有滑順的滑鼠/手指跟隨感 */
            scrollbar-width: none; /* 隱藏原生的滾動條*/

            
        }
        li {
            max-width: 300px;
            flex-shrink: 0;
        }   
    }   
}
