@import 'reset';

@import 'variable';
@import 'layout';
@import 'base';
@import 'main';


//header 區域
.header-area {
    padding-top: 16px;
    padding-bottom: 16px;

    &-member {
        a {
            padding: 12px;

            i {
                font-size: 24px;
            }
        }
    }
}

.header-nav-link {
    a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


//hero區域

.hero {
    background-image: url(../img/index/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    background-position: center;
}

.hero-content {
    padding: 288px 200px;
    color: $neutral0;

}


.button-buy {
    color: $neutral900;
    background-color: $primary300;
    padding: 12px 24px;
}

//main區域 
main {
    padding: 64px 0;
}



.main-content-card {
    max-width: 636px;
}

.hot {
    padding: 64px 0;
}

.hot-content-card {
    max-width: 306px;
}


//coupon區域
section {
    background-color: $primary200;
}

.coupon {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 48px;

    button {
        color: $neutral0;
        background-color: $neutral900;
        padding: 12px 24px;
    }
}


//footer區域
footer {
    background-color: $neutral100;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer {
    &-nav {
        &-link {
            a {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
    &-copyright {
        color: $neutral600;
        padding-top: 32px;
        text-align: center;
    }
}