@charset "UTF-8";
/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會

*,*:before,*:after{
	outline: 1px solid red;
}
*/
.bg-color-primary200 {
  background-color: #E8FEC5;
}

.bg-color-primary200:hover {
  background-color: #C0FA73;
}

.bg-color-primary200:active {
  background-color: #57A203;
}

.bg-color-primary100 {
  background-color: #F5FEE7;
}

.bg-color-primary100:hover {
  background-color: #C0FA73;
}

.bg-color-primary100:active {
  background-color: #57A203;
}

.hero {
  background-image: url(../img/index/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  max-width: 100%;
  background-position: center;
  position: relative;
  min-height: 800px;
}
@media (max-width: 576px) {
  .hero {
    background-image: url(../img/index/banner-sm.png);
    min-height: 480px;
  }
}

.hero-content {
  color: #FFFFFF;
  position: absolute;
  left: 112px;
  top: 50%;
  transform: translate(-25%);
}

.hero-content-mb {
  color: #FFFFFF;
  padding: 155px 12px;
}

.button-buy {
  color: #212529;
  background-color: #C0FA73;
  padding: 12px 24px;
}

.button-buy:hover {
  background-color: #57A203;
  color: #FFFFFF;
}

.button-buy:active {
  background-color: #477A11;
  color: #FFFFFF;
}

main {
  padding: 64px 0;
}

.main-title h2 {
  text-align: center;
}

.main-content-card {
  max-width: 636px;
}

.main-content ul {
  row-gap: 48px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.main-content li {
  width: calc((100% - 24px) / 2);
}
@media (max-width: 576px) {
  .main-content ul {
    row-gap: 24px;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .main-content li {
    width: calc((100% - 12px) / 2);
  }
}

.hot {
  padding: 64px 0;
}
@media (max-width: 576px) {
  .hot {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .hot-content-overall {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 讓手機滑動時有滑順的滑鼠/手指跟隨感 */
    scrollbar-width: none; /* 隱藏原生的滾動條*/
  }
  .hot-content-list {
    min-width: 351px;
  }
}
.hot-content-list {
  position: relative;
}

.hot-content-tag {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 8px 12px;
  color: #57A203;
  background-color: #F5FEE7;
}

.hot-content-card {
  max-width: 306px;
}

.collaboration {
  background-image: url(../img/index/banner-co-branded.png);
  background-size: cover;
  background-position: center;
  margin: 48px 0;
}
@media (max-width: 576px) {
  .collaboration {
    background-image: url(../img/index/banner-co-branded-sm.png);
    background-size: cover;
    background-position: center;
    margin: 24px 0;
  }
}

.collaboration-content {
  padding-top: 100px;
  padding-bottom: 8px;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 576px) {
  .collaboration-content {
    padding: 64px 0;
  }
}

.decoration-2 {
  position: absolute;
  top: 68px;
  left: 20%;
}
@media (max-width: 576px) {
  .decoration-2 {
    top: 32px;
    left: -10%;
  }
}

.decoration-1 {
  position: absolute;
  bottom: 132px;
  right: 20%;
}
@media (max-width: 576px) {
  .decoration-1 {
    bottom: 104px;
    right: -10%;
  }
}

.collaboration-content-campaign-word-title-main-kevin h1 {
  color: #C0FA73;
}

.collaboration-content-campaign {
  margin-bottom: 84px;
}

.color-n500 {
  color: #ADB5BD;
}

.collaboration-content-rotation {
  color: #CED4DA;
}

.bi-circle-fill {
  font-size: 8px;
}

.rectangle {
  width: 24px;
  height: 8px;
  background-color: #6C757D;
}

.series-content {
  margin: 64px 0;
}

.series-card li {
  min-width: 306px;
}
@media (max-width: 576px) {
  .series-card li {
    min-width: 0;
    min-width: calc((100% - 12px) / 2);
  }
}

.series-card-content {
  padding: 118px 0;
}
@media (max-width: 576px) {
  .series-card-content {
    padding-top: 62.5px;
    padding-bottom: 61px;
  }
}

.series-card-item1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/product-list/product-6.png);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  aspect-ratio: 1/1;
}

.series-card-item2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/index/product-11.png);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  aspect-ratio: 1/1;
}

.series-card-item3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/product-list/product-9.png);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  aspect-ratio: 1/1;
}

.series-card-item4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/index/product-10.png);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  aspect-ratio: 1/1;
}

.inspiration-content {
  margin: 64px 0;
}
@media (max-width: 576px) {
  .inspiration-content {
    margin: 40px 0;
  }
}

.inspiration-content-photo-area1,
.inspiration-content-photo-area2,
.inspiration-content-photo-area3 {
  width: calc((100% - 16px) / 3);
}

.inspiration-content-photo-area1-top img,
.inspiration-content-photo-area3-bottom img,
.inspiration-content-photo-area2 img {
  width: calc((100% - 8px) / 2);
}

@media (max-width: 576px) {
  .inspiration-content-photo-mb {
    overflow: hidden;
  }
  .inspiration-content-photo-mb ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 讓手機滑動時有滑順的滑鼠/手指跟隨感 */
    scrollbar-width: none; /* 隱藏原生的滾動條*/
  }
  .inspiration-content-photo-mb li {
    max-width: 300px;
    flex-shrink: 0;
  }
}/*# sourceMappingURL=index.css.map */