@import 'reset';

@import 'variable';
@import 'layout';
@import 'base';
@import 'main';


/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會
*/
*,*:before,*:after{
	outline: 1px solid red;
}



//header 區域
.header-area {
    padding: 16px 0;

    &-member {
        a {
            padding: 12px;

            i {
                font-size: 24px;
            }
        }

        a:hover {
            color: $primary400;
        }   
    }
}   

.header-nav-link {
    a {
        padding: 12px 0;
    }
    a:hover {
        color: $primary400;
    }  
}


//hero區域
.hero {
    background-image: url(../img/index/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    background-position: center;
}

.hero-content {
    padding: 288px 200px;
    color: $neutral0;

}


.button-buy {
    color: $neutral900;
    background-color: $primary300;
    padding: 12px 24px;
}


//main區域 
main {
    padding: 64px 0;
}



.main-content-card {
    max-width: 636px;
}

.hot {
    padding: 64px 0;
}

.hot-content-card {
    max-width: 306px;
}

//聯名區域
.collaboration {
    background-image: url(../img/index/banner-co-branded.png);
    background-size: cover;
    background-position: center;
    margin: 48px 0;
}

.collaboration-content {
    padding-top: 100px;
    padding-bottom: 8px;
    color: $neutral0;
    text-align: center;

}

.collaboration-content-campaign-word-title-main-kevin {
    h1 {
        color: $primary300;
    }
}

.collaboration-content-campaign {
    margin-bottom: 84px;
}

.color-n500 {
    color: $neutral500;
}

.collaboration-content-rotation {
    color: $neutral400;
}

//series區域

.series-content {
    margin: 64px 0;
}

.series-card-content {
    padding-top: 118px;
    padding-bottom: 118px;
}

.series-card-item {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/product-list/product-1.png);
    background-size: cover;
    background-position: center;
    max-width: 306px;
    color: $neutral0;

}





//靈感區域
.inspiration-content {
    margin: 64px 0;
}



//coupon區域
.coupon {
    background-color: $primary200;
    
    &-content {
        padding: 24px 0;
        margin-top: 48px;

        @media (width: 375px) {
            margin-top: 24px;
        }

        a {
            color: $neutral0;
            background-color: $neutral900;
            padding: 12px 24px;

            @media (width: 375px) {
                padding: 8px 16px;
            }
        }
    }
}

//footer區域
footer {
    background-color: $neutral100;
    padding: 64px 0;

    @media (width:375px) {
        padding: 32px 0;
    }
}

.footer {
    &-nav {
        &-link {
            a {
                padding: 12px 0;
            }

            a:hover {
                color: $primary400;
            }
        }
    }
    &-copyright {
        color: $neutral600;
        padding-top: 32px;
        text-align: center;
        border-top: 1px solid $neutral300;
    }
}